<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vote for your preferred candidate</h1>
    <p>Select from the options below</p>

    <form method="post" action="/vote" >
        <input type="radio" name="vote" id="first" value="first"/>
        <label for="first">People's Front of Judea</label>

        <input type="radio" name="vote" id="second" value="second"/>
        <label for="second">Judean People's Front</label>

        <input type="radio" name="vote" id="third" value="third"/>
        <label for="third">The People's Front for Judea</label>

        <input type="radio" name="vote" id="fourth" value="fourth"/>
        <label for="fourth">The Judean Front of the People</label>

        <button>Submit</button>
    </form>
  </body>
</html>
