
<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Results from the vote</h1>

    <h2>People's Front of Judea</h2>
    <p><%= first %> votes</p>

    <h2>Judean People's Front</h2>
    <p><%= second %> votes</p>

    <h2>The People's Front for Judea</h2>
    <p><%= third %> votes</p>

    <h2>The Judean Front of the People</h2>
    <p><%= fourth %> votes</p>
  </body>
</html>
